<web-app id="fct" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>.:: FCT ::.</display-name>

	<welcome-file-list>
		<welcome-file>/view/login.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>filtro</filter-name>
		<filter-class>br.ucb.fct.filters.Filtro</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/view/admin/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>controle</servlet-name>
		<servlet-class>br.ucb.fct.servlet.Controller</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>controle</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	

</web-app>
